<div ng-controller="EntryCtrl" class="span12" >
  <div class="row">
    <div class="span2" style="margin-top: 40px; padding-right: 50px;">
      <form ng-submit="addEntry()">
        <input type="text" ng-model="newEntry.subject" placeholder="Entry Subject" />
      </form>
      <ul ng-repeat="entry in entries">
        <li>
          <a style="cursor:pointer" ng-click="viewNote(entry)">{{entry.date}}-{{entry.subject}}</a>
          <span><i class="icon-trash" style="cursor:pointer" alt="delete" ng-click="deleteEntry(entry)"></i></span>
        </li>
      </ul>
    </div>
    <div class="span8">
      <form ng-submit="updateEntry(entry)">
        <textarea class="paper" ng-model="entry.note">{{entry.note}}</textarea>
        <input type="submit" class="btn btn-primary align-top" style="vertical-align: top" value="Update">
      </form>
    </div>
    <div class="span2">
    </div>
  </div>
</div>
