<div class="span12" >
  <div class="row">
    <div class="span2" style="margin-top: 40px">
      <ul>
        <li><a href="#">Note 1</a></li>
        <li><a href="#">Note 2</a></li>
        <li><a href="#">Note 3</a></li>
      </ul>
    </div>
    <div class="paper span8">
      <p><Strong>Note 1</Strong></p>
      
      <p>Hello World, This is my Diary.</p>
    </div>
    <div class="span2">
    </div>
  </div>
</div>
